@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

.logo{
    position: absolute;
    width: 50px;
    margin: 10px;
    cursor: pointer;
    z-index: 100;
    color: white;
}

.logo:hover {
    opacity: 0.85;
}

.searchPage{
    /* background-image: url("https://source.unsplash.com/random"); */
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.searchBox {
    position: absolute;
    top: 30%;
    left: 10%;
    width: 350px;
    height: 430px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    background-color: rgb(247, 247, 247);
    color: rgb(44, 44, 44);
}
.searchBox h1 {
    margin-bottom: 15px;
}

.searchBox label{
    font-weight: bold;
}
.searchBox input {
    margin-bottom: 15px;
    color: rgb(66, 66, 66);
}

.searchBox select {
    color: rgb(66, 66, 66);
    background-color: white;
}

.destination {
    width: 300px;
}

.date {
    width: 130px;
}

.searchBox button{
    position: absolute;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: rgb(40, 128, 179);
    color: white;
    font-size: 20px;
    font-weight: bold;
    bottom: 30px;
    right: 30px;
}

.searchBox button:hover {
    opacity: 0.75;
}

.nav {
    position: absolute;
    background-color:rgb(235, 235, 235);
    height: 100vh;
    width: 100%;
    z-index: 50;
    transform: translateY(0);
    transition: transform 500ms;
    overflow-x: hidden;
}

.hidden {
    transform: translateY(-100%);
    transition: transform 500ms;
}

.nav div {
    background-color: rgb(37, 37, 37);
    height: 70px;
    width: 100vw;
}

.nav ul {
    margin: 20px 0 0 15px;;
    padding: 0;
}

.nav li {
    list-style: none;
    font-size: 20px;
    line-height: 50px;
    cursor: pointer;
}

.nav li:hover {
    color: rgb(95, 95, 95);
    text-decoration: underline;
}

hr {
    border: 1px solid rgb(207, 207, 207);
    width: 450px;
    margin: 10px 0 10px 0;
}

.explorePage {
    margin: 0 auto;
    width: 870px;
}

.explorePage h2{
    margin: 50px 0 0 20px;
}

.categoryContainer {
    display: flex;
}

.exploreCategory {
    margin: 0 10px 0 10px;
    display: flex;
    width: 270px;
    height: 70px;
    border: 1px solid rgb(179, 179, 179);
    align-items: center;
}

.exploreCategory img {
    height: 70px;
}

.exploreCategory p {
    font-size: 15px;
    font-weight: bold;
    margin: auto;
    cursor: pointer;
}

.exploreCategory p:hover {
    color: rgb(95, 95, 95);
    text-decoration: underline;
}