@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    scroll-behavior: smooth;
}

.logo{
    position: absolute;
    width: 50px;
    margin: 10px;
    cursor: pointer;
    z-index: 100;
    color: white;
}

.logo:hover {
    opacity: 0.85;
}

.searchPage{
    background-size: cover;
    background-position: center;
    height: 100vh;
    opacity: 1.0;
    transition: background 2s ease-in;
}

.searchBox {
    position: absolute;
    top: 30%;
    left: 10%;
    width: 350px;
    height: 430px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    background-color: rgb(247, 247, 247);
    color: rgb(44, 44, 44);
}
.searchBox h1 {
    margin-bottom: 15px;
}

.searchBox label{
    font-weight: bold;
}
.searchBox input {
    margin-bottom: 15px;
    color: rgb(66, 66, 66);
}

.searchBox select {
    color: rgb(66, 66, 66);
    background-color: white;
}

.destination {
    width: 300px;
}

.date {
    width: 130px;
}

.searchBox button{
    position: absolute;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: rgb(40, 128, 179);
    color: white;
    font-size: 20px;
    font-weight: bold;
    bottom: 30px;
    right: 30px;
}

.searchBox button:hover {
    opacity: 0.75;
}

.nav {
    position:absolute;
    background-color:rgb(235, 235, 235);
    height: 100vh;
    width: 100%;
    z-index: 50;
    transform: translateY(0);
    transition: transform 500ms;
    overflow: hidden;
}

.navBar {
    margin: auto;
    height: 70px;
    width: 100vw;
    background-color: rgb(37, 37, 37);
}

.hidden {
    transform: translateY(-100%);
    transition: transform 500ms;
}

.nav div {
    background-color: rgb(37, 37, 37);
    height: 70px;
    width: 100vw;
}

.nav ul {
    margin: 20px 0 0 15px;;
    padding: 0;
}

.navlink {
    text-decoration: none;
    color: black;
    font-size: 20px;
    line-height: 50px;
    cursor: pointer;
}

.navlink:hover {
    color: rgb(95, 95, 95);
    text-decoration: underline;
}

hr {
    border: 1px solid rgb(207, 207, 207);
    width: 450px;
    margin: 10px 0 10px 0;
}

.explorePage {
    margin: 0 auto;
    width: 870px;
}

.explorePage h2{
    margin: 50px 0 0 20px;
}

.categoryContainer {
    display: flex;
}

.exploreCategory {
    margin: 0 10px 0 10px;
    display: flex;
    width: 270px;
    height: 70px;
    border: 1px solid rgb(179, 179, 179);
    align-items: center;
}

.exploreCategory img {
    height: 70px;
}

.exploreCategory p {
    font-size: 15px;
    font-weight: bold;
    margin: auto;
    cursor: pointer;
}

.exploreCategory p:hover {
    color: rgb(95, 95, 95);
    text-decoration: underline;
}

.explorePage {
    margin: 0 auto;
    width: 900px;
}

.featuredPage {
    margin: 0 auto;
    width: 900px;
}

.featuredPage h2{
    margin: 50px 0 0 20px;
}

.featuredContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-between;
    justify-items: center;
    width: 900px;
    height: 880px;
    margin: auto;
}

.featuredItem {
    position: relative;
    width: 280px;
    height: 370px;
    cursor: pointer;
}

.featuredItem:hover {
    opacity: 0.8
}

.featuredItem img {
    width: 280px;
    height: 370px;
}

.featuredItem h3{
    position: absolute;
    top: 280px;
    left: 38%;
    color: white;
}

.featuredItem p{
    color: white;
    left: 30%;
    top: 85%;
    position: absolute;
}

footer {
    margin: auto;
    width: 100%;
    height: 100px;
    background-color: rgb(37, 37, 37);
    padding-top: 30px;
}

footer ul {
    display: flex;
    padding: 0;
    justify-content: space-evenly;

}

footer .navlink{
    color: white;
}

.aboutBox {
    margin: 13% auto 0 auto;
    width: 800px;
    height: 500px;
    border: 1px solid grey;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 20px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

.aboutBox h1 {
    margin-bottom: 20px;
}

.loginForm {
    margin: 200px auto 0 auto;
    width: 400px;
    height: 340px;
    border: 1px solid grey;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 20px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

.loginForm h1 {
    text-align: center;
    margin-bottom: 10px;
}

.loginForm label {
    font-size: 15px;
    font-weight: bold;
}

.loginForm input{
    width: 340px;
    margin: 10px 0 30px 0;
}

.loginForm button {
    margin: 0 120px 0 120px;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: rgb(40, 128, 179);
    color: white;
    font-size: 20px;
    font-weight: bold;
    bottom: 30px;
    right: 30px;
}

.loginForm button:hover {
    opacity: 0.75;
}

.bottom {
    position: absolute;
    bottom: 0;
}